CompileFlags:
  # Use Meson's compilation database.
  CompilationDatabase: builddir

  # Fallback include paths for headers opened directly (no TU association).
  Add:
    - -Iinclude/eventbus
    - -Iinclude/raygui/src
